/*
/*/
!/Classes/
!/Resources/
!/proj.android/
/proj.android/*
!/proj.android/AndroidManifest.xml
!/proj.android/jni/
/proj.android/jni/*
!/proj.android/jni/Android.mk
!/proj.android/jni/Application.mk
!/proj.android-studio/
/proj.android-studio/*
!/proj.android-studio/app/
/proj.android-studio/app/*
!/proj.android-studio/app/jni/
/proj.android-studio/app/jni/*
!/proj.android-studio/app/jni/Android.mk
!/proj.android-studio/app/jni/Application.mk
!/.gitignore
!/README.md
!/cocos2d/
/cocos2d/*
!/cocos2d/cocos/
/cocos2d/cocos/*
!/cocos2d/cocos/2d/
/cocos2d/cocos/2d/*
!/cocos2d/cocos/2d/CCNode.h
!/cocos2d/cocos/physics/
/cocos2d/cocos/physics/*
!/cocos2d/cocos/physics/CCPhysicsBody.h