/*
/*/
!/Classes/
!/Resources/
!/proj.android/
/proj.android/*
!/proj.android/AndroidManifest.xml
!/proj.android/jni/
/proj.android/jni/*
!/proj.android/jni/Android.mk
!/proj.android/jni/Application.mk
!/proj.android-studio/
/proj.android-studio/*
!/proj.android-studio/app/
/proj.android-studio/app/*
!/proj.android-studio/app/jni/
/proj.android-studio/app/jni/*
!/proj.android-studio/app/jni/Android.mk
!/proj.android-studio/app/jni/Application.mk
!/.gitignore
!/README.md